.collection-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  margin: auto;
  position: relative;
  margin-bottom: 20px;

  &:hover {
    .image {
      opacity: 0.85;
    }
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    opacity: 0.75;
    position: absolute;
    top: 255px;
    display: none;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    //display: flex;
    //justify-content: space-between;
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
    
    
  }
}

@media screen and (max-width: 600px) {

  .collection-item {

    .collection-footer {
      font-size: 16px;
    }

    .image {
      height: 55%;
    }

    .custom-button {
      display: block;
      min-width: 100px;
      padding: 0 10px;
      opacity: 0.9;
    }

    &:hover {
      .image {
        opacity: unset;
      }
      .custom-button {
        opacity: unset;
      }
    }
  }

}
