.order-search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px silver;
    padding: 20px 20px;

    .title {
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: normal;
        text-align: center;
    }

    .order-search {
        width: 100%;
        margin: auto;

        .search-form {
            width: 300px;
            margin: auto;
        }
        .buttons {
            margin: auto;
            text-align: center;
        }
    }

    .no-orders {
        padding-top: 40px;
        text-align: center;
    }
    .search-results {
        border-top: .5px solid silver;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .order-search-wrapper {
        .order-search {
            .search-form {
                width: 100%;
                padding: 0 0;
            }
        }
    }
}