.account-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px silver;
    padding: 20px 20px;

    .account-info {

        width: 500px;
        margin: auto;

        .title {
            font-size: 28px;
            margin-bottom: 25px;
            font-weight: normal;
            text-align: center;
        }

        .details {
            display: inline-block;
            justify-content: space-between;

            .detail {
                display: grid;
                grid-template-columns: 100px 300px;
                grid-gap: 10px;
                justify-content: space-between;
                margin: 10px 0;
                padding-right: 20px;

                .label {
                    font-weight: bold;
                }
                
            }

        }

        .buttons {
            width: 350px;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            margin: auto;
        }

        .order-history {
            width: 500px;
            padding-top: 10px;

            .titles{
                font-weight: bold;
            }
            .detail {
                display: grid;
                grid-template-columns: 30% 1fr 1fr 1fr;
                grid-gap: 5px;
                text-align: left;
            }
            .link {
                cursor: pointer;
                color: darkgreen    
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .account-info-wrapper {
        .account-info {
            width: 100%;
            padding: 0 0;
            margin: auto;

            .order-history {
                width: 350px;
            }
            .buttons {
                width: 300px;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .account-info-wrapper {
        padding: 10px 10px;

        .account-info { 
            
            .order-history, .details {
                width: 100%;
            }

            .buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                min-width: 130px;
            }
        }
    }
}