.utilities {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px silver;
    padding: 20px 20px;

    .utility {
        width: 400px;
        padding-bottom: 10px;
        border-bottom: .5px solid silver;

        .title {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: normal;
        }

        .details {
            font-size: medium;
            padding-bottom: 20px;
        }

    }
}