.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
    }
  
    .logo-name {
      font-size: 33px;
      margin: auto;
      margin-left: 20px;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
  
      .option {
        padding: 10px 15px;
      }

    }

    .welcome-message {
      color: green;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size:18px;
    }
  }
  
@media only screen and (max-width: 800px) {
  .header {
    .options {
      .option {
        padding: 10px 10px;
      }
    }
    .logo-name {
      font-size: 28px;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 60px;

    .options {
      width: 75%;
      padding-top: 20px;
    }
    .logo-name {
      display: none
    }
  }
}
@media only screen and (max-width: 340px) {
  .header {
    .options {
      .option {
        padding: 5px 5px;
        font-size: 14px;
      }
    }
  }
}