.order-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px silver;
    padding: 20px 20px;

    .title {
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: normal;
    }

    .order-details {
        width: 100%;

        .top-section{
            max-width: 700px;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .details {
            display: inline-block;
            justify-content: space-between;

            .detail {
                display: grid;
                grid-template-columns: 100px 300px;
                grid-gap: 10px;
                justify-content: space-between;
                margin: 10px 0;

                .label {
                    font-weight: bold;
                }

                .address span {
                    display: grid;
                }
            }
        }

        .order-items {
            
            width: 100%;
            max-width: 700px;

            .order-item {
                border-top: 0.5px solid silver;
                padding-top: 10px;
                display: grid;
                grid-template-columns: 30% 30% 20% 20%;
                justify-content: space-between;
                margin: 10px 0;
            }

            .image-container {
                width: 90%;
                max-width: 100px;
            
                img {
                width: 95%;
                height: 95%;
                margin: auto;
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .order-details-wrapper {
        .order-details {
            width: 100%;
            padding: 0 0;
            margin: auto;

            .top-section{
                display: inline-block;
                //grid-template-columns: 50% 50%;
            }

        }
    }
}

@media only screen and (max-width: 350px) {
    .order-details-wrapper {
        padding: 10px 10px;

        .order-details { 
            .details {
                width: 100%;
            }
        }
    }
}